body{
    background-color: aliceblue;
    display: flexbox;
}

#Navbar{
    background-color: white;
    height: 69px;
    width: 100%;
}

#Logo{
    padding-bottom: 3px;
    padding-left: 6%;
}

#Title{
    width: 40%;
	margin: 0 auto;
	padding: 20px;
    padding-top: 45px;
    text-align: center;
    color:#1A30A8;
    gap: 10px;
}

.ele{
    display: inline-block;
    width: 270px;
    height: 70px;
    margin-left: 10.8%;
    margin-top: 33px;
}

.ele_top{
    display: inline-block;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.ele_bot{
    display: inline-block;
    width: 250px;
    height: 45px;
    border-radius: 6px;
    border: 1px;
    background: white;
}

#dot{
    display: inline-block;
    width: 10.35px;
    height: 10.35px;
    border-radius: 25px;
    background: #32CD32;
}

#Green_Icon{
    padding-left: 20px;
    background: url("Images/Ellipse 20.png") no-repeat left;
    background-color: white;
    background-size: 15px;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;

}

.Black_Icon{
    padding-left: 20px;
    background: url("Images/Ellipse black.png") no-repeat left;
    background-color: white;
    background-size: 15px;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;

}

 #map {
    display: inline-flex;
    margin-right: 10%;
    height: 511px;
    width: 560px;
  }

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

form{
    display: inline-block;
}

#calculateDistance{
    margin-top: 125;
    display: inline-block;
    width: 141px;
    height: 62px;
    left: 505px;
    top: 262px;
    background: #1B31A8;
    border-radius: 32px;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color:white;
    
}

.but{
    margin-left: 38%;
    margin-right: 0;
}

#Left_Div{
    display: inline-flex;
    margin-right: auto;
    margin-left: 0;
}

#Body_2{
    display:flex;
}

@media (max-width:700px){
    #map{
        height : 357px; 
        width : 100%;
        top: 0;
    }
}